@media (max-width: 670px) {
    body {
        text-align: center;

    }

    body img {

        box-sizing: border-box;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;

    }
}


head title {
    font-size: 50px;
}

body {
    text-align: center;
    background-color: #FFF5E3;
    font-family: serif;

}

/*.size {
    font-size: 50px;
}*/

.button {
    /*周りの凹み*/
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgba(3, 169, 244, 0.54);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background: #F7F7F7;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}

.button i {
    /*ボタン自体*/
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    line-height: 80px;
    left: 10px;
    top: 9px;
    border-radius: 50%;
    font-size: 40px;
    background-image: linear-gradient(#E8E8E8 0%, #D6D6D6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #B5B5B5;
}

.button .fa:active {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #D8D8D8;
}

.btn-area {
    text-align: center;
}

.button_twi {
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    font-size: 15pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: #215cf2;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666;
    /* 影の設定 */
    text-decoration: none;
    margin-top: 20px;
}

.button_twi:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
}

.recipe img {
    width: 250px;
    height: 250px;
    object-fit: cover;

}

/*.maru {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: pink;
    font-size: 24px;
    margin-left: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}*/

ul {
    background: #fffde8;
    box-shadow: 0px 0px 0px 10px #fffde8;
    /*線の外側*/
    border: dashed 2px #ffb03f;
    /*破線*/
    border-radius: 9px;
    margin-left: 10px;
    /*はみ出ないように調整*/
    margin-right: 10px;
    /*はみ出ないように調整*/
    padding: 0.5em 0.5em 0.5em 2em;
}

ul {
    line-height: 1.5;
    padding: 0.5em 0;
}

.chg {
    padding: 0;
    position: relative;
}

.chg {
    color: black;
    border-left: solid 8px orange;
    /*左側の線*/
    background: whitesmoke;
    /*背景色*/
    margin-bottom: 5px;
    /*下のバーとの余白*/
    line-height: 1.5;
    border-radius: 0 15px 15px 0;
    /*右側の角だけ丸く*/
    padding: 0.5em;
    list-style-type: none !important;
}

ol {
    counter-reset: my-counter;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

li:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    background-color: orange;
    color: #222;
    display: block;
    float: left;
    line-height: 22px;
    margin-left: -30px;
    text-align: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

.cooking_process {
    word-wrap: normal;
}