@media (max-width: 670px) {
    body {
        background-color: aliceblue;
        background-image:
            url("/Users/musashi/Desktop/exercise_bbs/for_last_class/tamago2.jpg");
        background-size: cover;
        background: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    body h1 {
        text-align: left;
        font-size: 30px;
    }

    body background-image {
        background-size: 70% auto;
    }
}






body {
    background-color: aliceblue;
    background-image:
        url("/Users/musashi/Desktop/exercise_bbs/for_last_class/tamago2.jpg");
    background-size: cover;
    font-family: serif;
}

body h1 {
    text-align: center;
    font-size: 60px;
}







/*.button {

    background-color: red;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;



}

.button:hover {
    color: yellow;
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}


.button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}

.button:hover {
    background: #00bcd4;
    color: white;
}*/

.button {
    /*周りの凹み*/
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgba(3, 169, 244, 0.54);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background: #F7F7F7;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}

.button i {
    /*ボタン自体*/
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    line-height: 80px;
    left: 10px;
    top: 9px;
    border-radius: 50%;
    font-size: 40px;
    background-image: linear-gradient(#E8E8E8 0%, #D6D6D6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #B5B5B5;
}

.button .fa:active {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #D8D8D8;
}

.btn-area {
    text-align: center;
}