<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="page.jpeg">
    
</head>
<body>
    <section id="sec1">
        <h1 class="size">RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>豚バラもやしの重ね焼き</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：10分</p>
                    <p>冷蔵保存：2日</p>
                    <p>材料1人分</p>
                    <img src="/Users/musashi/Desktop/las/mmm/picture/豚バラもやしpic/kanseiiiii.webp" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">    
                    <p>豚バラ薄切り肉 （100g）</p>
                    <p>もやし 1袋</p>
                    <p>鶏ガラスープの素 </p>
                    <p>ペットボトルの蓋1/3</p>
                    <p>塩、こしょう 少々</p>
                    <p>ごま油</p>
                    <p>ペットボトルの蓋1杯</p>
                    <p>ポン酢醤油 適量</p>   
                </ul>
                    <div class="cooking_process">
                <ul>    
                    <h2>作り方</h2>
                    <ol>
                        <li>フライパンにごま油を広げる。豚バラ薄切り肉の半量を広げて乗せ、塩、こしょうをふる。</li>   
                            <img src="./豚バラもやしpic/111.webp" alt="">
                        <li>1の上に、洗ったもやし1袋を乗せる。</li>
                            <img src="./豚バラもやしpic/222.jpg" alt="">
                        <li>2の上に、残りの豚肉を広げて乗せ、鶏ガラスープの素とこしょうをふる。</li>
                            <img src="./豚バラもやしpic/333.webp" alt="">
                        <li>3の上に、残りのもやしを乗せ、蓋をして中火にかける。<br>6〜7分蒸し焼きにし、豚肉(下から2段目)の色が変わったら、できあがり。</li>
                            <img src="./豚バラもやしpic/444.webp" alt="">
                        <li>器に盛り、お好みで刻みねぎを散らす。<br>ポン酢じょうゆをつけて、お召し上がりください。</li>    
                </ul>
                    </div>
                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>      
    </header>
</body>
</html>