<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/musashi/Desktop/las/mmm/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">

</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>豚バラキャベツの回鍋肉</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：10分</p>
                    <p>冷蔵保存：2日</p>
                    <p>材料1人分</p>
                    <img src="/Users/musashi/Desktop/las/mmm/picture/豚バラきゃべつpic/１.webp" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">    
                    <p>豚バラ薄切り肉 （100g）</p>
                    <p>キャベツ 200mg</p>
                    <p>醤油、味噌、酒、砂糖 </p>
                    <p>オイスターソース、豆板醤</p>
                    <p>（各ペットボトルの蓋2/3杯）</p>
                    <p>ニンニクチューブ、しょうがチューブ 1cm</p>
                    <p>かたくり粉少々 ごま油 蓋2/3</p>   
                </ul>
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>豚バラ薄切り肉は、長ければ食べやすく切る。キャベツは、手でちぎる。<br>（調味料は合わせておく）</li>   
                            <img src="/Users/musashi/Desktop/las/mmm/picture/豚バラきゃべつpic/7d745eb3f609.webp" alt="">
                        <li>フライパンにごま油を中火で熱し、豚肉を炒める。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/豚バラきゃべつpic/677b571a0dc7.webp" alt="">
                        <li>豚肉の色が8割がた変わったら、キャベツを加えて、さらに炒める。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/豚バラきゃべつpic/ba28c696f1b9.webp" alt="">
                        <li>キャベツがしんなりしたら、合わせた調味料を回し入れ、再度痛め合わせたら、できあがり。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/豚バラきゃべつpic/bcf08a23daf0.webp" alt="">
                    </ol>>
                </ul>    
                        </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>      
    </header>
</body>
</html>