<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="page.jpeg">

</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>カルボ飯</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <!-- <p>調理時間：5分</p>
                    <p>冷蔵保存：3日</p> -->
                    <p>材料1人分</p> 
                    <img src="./カルボ飯pic/karubomeshi.png" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">    
                    <p>厚切りベーコンor普通のベーコン 好みの量</p>
                    <p>卵 1個</p>
                    <p>スライスチーズ1枚</p>
                    <p>めんつゆ 大さじ1</p>
                    <p>(ペットボトルキャップ2杯でおおさじ1杯分)</p>
                </ul>
                
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                        <p>1.フライパンを中火で熱し、ベーコンを入れて全面に焼き色が付くまでじっくり炒める。</p>   
                            <img src="./カルボ飯pic/karubomeshi01.png" alt="">
                        <p>2.ベーコンに焼き色がつけば卵を落としてよく混ぜ、少し生の部分がある状態で加熱を止める。</p>
                            <img src="./カルボ飯pic/karubomeshi02.png" alt="">
                        <p>3.卵が半熟の一歩手前になれば素早くチーズを入れて、卵のダマがなくなるようにチーズとよく混ぜ合わせる。</p>
                            <img src="./カルボ飯pic/karubomeshi02.png" alt="">
                        <p>4.最後にご飯の上に盛り付け、めんつゆを大さじ1杯かけたら完成！</p>
                            <img src="./カルボ飯pic/karubomeshi04.png" alt="">
                </ul>   
                    </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>
             
    </header>
</body>
</html>