<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="page.jpeg">

</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>揚げないミートボール</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：15分</p>
                    <p>冷蔵保存：3日</p>
                    <p>材料1人分</p>
                    <img src="./ミートボウルpic/kansei2.jpg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">
                    <p>豚ひき肉 80g</p>
                    <p>絹豆腐 50g</p>
                    <p>パン粉 10g</p>
                    <p>塩 小さじ4分の1半分</p>
                    <p>砂糖 大さじ1半分</p>
                    <p>ケチャップ 大さじ2半分</p>
                    <p>ソース 大さじ1半分</p>
                    <p>醤油 大さじ1半分</p>
                    <p>酢 大さじ1半分</p>   
                </ul>
                
                
                    <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>ポリ袋に豚ひき肉、絹どうふ、パン粉、塩を入れ、袋の上から手でもみなじませる。</li>   
                            <img src="./ミートボウルpic/mazeru.jpg" alt="">
                        <li>ポリ袋の端に穴を開け、耐熱皿にしぼりだしスプーンで形を整える。</li>
                            <img src="./ミートボウルpic/katachi.jpg" alt="">
                        <li>2ヶ所にスキマをあけラップをかぶせ、600wの電子レンジで6～7分加熱する。 </li>
                            <img src="./ミートボウルpic/renji::.jpg" alt="">
                        <li>調味料を混ぜ、加熱後のミートボールにかけてできあがり。</li>
                            <img src="./ミートボウルpic/sauce.jpg" alt="">
                    </ol>
                </ul>
                        </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>      
    </header>
</body>
</html>