<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/musashi/Desktop/las/mmm/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">

</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>包丁いらず<br>『旨味凝縮&無水<br>重ね煮肉豆腐』</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：10分</p>
                    <!--  <p>冷蔵保存：3日</p> -->
                    <p>材料1人分</p> 
                    <img src="/Users/musashi/Desktop/las/mmm/picture/肉豆腐pic/nikudouhu.jpg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">
                    <p>豚バラ肉 100g</p>
                    <p>木綿豆腐 150g(1丁の半分)</p>
                    <p>醤油 大さじ1</p>
                    <p>酒   大さじ1</p>
                    <p>みりん 大さじ1</p>
                    <p>和風だしの素 子さじ1</p>
                    <p>しょうがチューブ 1~2cm</p>
                    <p>(ペットボトルキャップ2杯でおおさじ1杯分)</p>
                    <p>(ペットボトルキャップ2/3で杯で子さじ1杯分</p>
                </ul>
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>木綿豆腐は、食べやすい大きさに手でちぎり、フライパンに並べる。</li>   
                            <img src="/Users/musashi/Desktop/las/mmm/picture/肉豆腐pic/nikudouhu01.jpg" alt="">
                        <li>1の上に、豚肉を広げて乗せ、Aしょうゆ、酒、みりん 各大さじ2、砂糖 大さじ1、和風だしの素 小さじ1、しょうがチューブ 1〜2cmをまわしかける。蓋をして中火にかけ、5〜6分蒸し焼きにする。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/肉豆腐pic/nikudouhu02.jpg" alt="">
                        <li>豚肉に火が通ったら(少々ピンク色でもOK)蓋をあけ、豚肉を豆腐からおろす。煮汁を豆腐にかけながら、弱めの中火で1〜2分煮たら、できあがり。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/肉豆腐pic/nikudouhu03.jpg" alt="">
                        </ol>   
                </ul>>        
                    </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>       
    </header>
</body>
</html>