<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/musashi/Desktop/las/mmm/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
        
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>包丁いらずのお好み焼き</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：10分</p>
                    <p>冷蔵保存：2日</p>
                    <p>材料1人分</p>
                    <img src="/Users/musashi/Desktop/las/mmm/picture/お好み焼きpic/toppi.jpg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">
                <p>豚バラ薄切り肉 40 g </p> <!--変更-->
                <p>Aカットキャベツ（せん切り） 100 g</p> <!--変更-->
                <p>A長ねぎ（小口切り） 15 g </p> <!--変更-->
                <p>A紅しょうが 20 g</p>
                <p>卵（Lサイズ）60 g</p> <!--変更-->
                <p>お好み焼き粉 30 g</p> <!--変更-->
                <p>サラダ油 小さじ3/4 (3 g)</p> <!--変更-->
                <p>お好み焼きソース 大さじ1と2/3強 (36 g)</p>
                <p>マヨネーズ 大さじ1/2 (6 g) </p>
                <p>かつお節 1 g</p>
                <p>青のり 少々</p>
                </ul>
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>ボウルに卵を割り入れ、お好み焼き粉と水を加えて混ぜ合わせます。</li>   
                            
                        <li>Aの具材を入れてよく混ぜ合わせます。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/お好み焼きpic/２２.jpg" alt="">
                        <li>フライパンにサラダ油を中火で熱し、２を流し入れ、裏返さずに片面にこんがりと焼き色がつくまで焼きます。</li>
                            
                        <li>3の焼いていない方の面に豚バラ肉を広げたら、裏返し、蓋をして３分ほど加熱します。</li>   
                            <img src="/Users/musashi/Desktop/las/mmm/picture/お好み焼きpic/４４.jpg" alt="">
                        <li>蓋を外し、再び裏返して、水分を飛ばします。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/お好み焼きpic/５５.jpg" alt="">
                        <li>器に盛り、ソースとマヨネーズ、かつお節、青のりをかけて出来上がりです。</li>
                    </ol>        
                </ul>        
                    </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>       
    </header>
</body>
</html>