<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="page.jpeg">
</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>豚肉切り落とし<br>ポークカレー</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：7分</p>
                    <p>冷蔵保存：4日</p>
                    <p>材料1人分</p>
                    <img src="./pork_curry/pork_curry.jpg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">
                    <p>豚肉の切り落とし （こまぎれ）40g</p>
                    <p>ねぎ 10g</p>
                    <p>片栗粉 小さじ2</p>
                    <p>水 80ml</p>
                    <p>カレールウ 1かけ</p>
                    <p>みりん 大さじ1杯半</p>
                    <p>ソース大さじ半分</p>
                </ul>
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>豚肉の切り落としは大きい場合は5センチ程度に切る。<br>ねぎはみじん切りにする。</li>   
                        
                        <li>耐熱容器に豚肉とねぎを入れ、片栗粉をまぶす。</li>
                            <img src="./pork_curry/mix.jpg" alt="">
                        <li>水と調味料を入れ、ふんわりラップをかぶせ600ｗの電子レンジで5～6分加熱し、豚肉に火が通ったらかきまぜてできあがり</li>
                            <img src="./pork_curry/all_mix.jpg" alt="">
                    </ol>
                </ul>  
                    </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>       
    </header>
</body>
</html>