<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/musashi/Desktop/las/mmm/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>無水サバ缶トマトカレー</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->   
                    <p>調理時間：5分</p>
                    <p>冷蔵保存：3日</p>
                    <p>材料1人分</p>
                    <img src="/Users/musashi/Desktop/las/mmm/picture/さばカレーpic/3sabacurry.jpg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">
                    <p>カットトマト１缶半分</p>
                    <p>サバ味噌煮１缶半分</p>
                    <p>カレールウ１かけ</p> 
                </ul>
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>深さのある耐熱容器にサバの味噌煮缶を汁ごとすべて入れ、<br>サバの身を一口サイズにほぐす。<br>（破裂防止のため、サバの身は箸でほぐしてください）</li>   
                            <img src="/Users/musashi/Desktop/las/mmm/picture/さばカレーpic/3saba.jpg" alt="">
                        <li>カットトマト缶とカレールウを入れ、かきまぜる。<br>ふんわりラップをかぶせ600wの電子レンジで3～4分加熱する。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/さばカレーpic/3luu.jpg" alt="">
                        <li>加熱後、よくかきまぜルウを溶かしできあがり。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/さばカレーpic/3rengi.jpg" alt="">
                    </ol>
                </ul>
                    </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>      
    </header>
</body>
</html>