<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="page.jpeg">
</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>カット野菜で！<br>ポン酢風味のとんぺい焼き</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：10分</p>
                    <!--  <p>冷蔵保存：3日</p> -->
                    <p>材料1人分</p> 
                    <img src="./とん平焼きpic/tonpei.jpg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">   
                    <p>キャベツの千切り 15g</p>
                    <p>豚薄切り肉 20g</p>
                    <p>ごま油 子さじ2</p>
                    <p>ポン酢   大さじ1</p>
                    <p>卵   1個</p>
                    <p>塩   少々</p>
                    <p>サラダ油 適量</p>
                    <p>マヨネーズ 適量</p>
                    <p>鰹節 適量</p>
                    <p>青のり 適量</p>
                    <p>(ペットボトルキャップ2杯でおおさじ1杯分)</p>
                    <p>(ペットボトルキャップ2/3で杯で子さじ1杯分</p>
                </ul>
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>1.フライパンにごま油を熱し、豚肉を両面焼く。</li>   
                            <img src="./とん平焼きpic/tonpei01.jpg" alt="">
                        <li>2.キャベツを加えてポン酢を回しかけ、全体をさっと混ぜる。
                            <br>一旦取り出しておく。</li>
                            <img src="./とん平焼きpic/tonpei02.jpg" alt="">
                        <li>3.フライパンをさっと洗ってサラダ油を敷き、よく溶いた卵に塩を加えて
                            <br>混ぜて流し入れ薄焼きにする（片面だけ焼く）。
                            <br>②を横長にのせる。</li>
                            <img src="./とん平焼きpic/tonpei03.jpg" alt="">
                        <li>4.フライパンの端に寄せて包み、お皿に返して盛りつける。</li>    
                            <img src="./とん平焼きpic/tonpei04.jpg" alt="">
                        <li>5.お好みでマヨネーズ、かつお節、青のりをかける。</li>
                    </ol>
                </ul>
                    </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>
      
    </header>
</body>
</html>



