<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/top.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="page.jpeg">


</head>
<body>
    <h1>RANDOM COOK</h1>
</body>


<script language="javascript">
    
    function j(){
    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","okonomiyaki.html","butabara_moyashi.html");
    location.href=(u[Math.floor(Math.random()*u.length)]);
    }
</script>
<div class="btn-area">
    <a href="JavaScript:j();" class="button">
        <i class="fa fa-home"></i>
    </a>
</div>




    
</html>