<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="page.jpeg">
</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                 <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>豆苗と豚肉の<br>マヨネーズソテーと<br>ふわふわ卵焼き</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：10分</p>
                    <p>材料1人分</p>
                    <img src="./豆苗マヨネーズppic/kanseis.jpeg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">
                    <p>豆苗 １袋半分</p>
                    <p>豚バラ肉 30g</p>
                    <p>卵 1個</p>
                    <p>マヨネーズ 大さじ1半分</p>
                    <p>白だし 大さじ2分の1半分</p>
                    <p>マヨネーズ 大さじ1半分</p>
                    <p>塩胡椒 少々</p>
                    <p>サラダ油 小さじ1半分</p>
                </ul> 
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>卵2個はマヨネーズ 大さじ1、白だし 大さじ1/2を入れて混ぜ合わせておきます。<br>豆苗は4cmの長さにキッチンバサミで切っておきます。<br>豚バラ肉はキッチンバサミで食べやすい大きさに切ります。</li>   
                            <img src="./豆苗マヨネーズppic/mono.webp" alt="">
                        <li>フライパンにマヨネーズ 大さじ1を入れてと豚バラ肉を入れて、中火で炒めます。<br>豚バラ肉に火がとおったら、塩・こしょうを少々ふって火をとめます<br>工程❶の豆苗を入れてしんなりするまで混ぜ合わせます。<br>ボールなどに移しておきます</li>
                            <img src="./豆苗マヨネーズppic/pan.webp" alt="">
                        <li>フライパンの汚れををキッチンペーパーでふき取って、サラダ油（小さじ1）を入れて中火にかけます。<br>工程❶の溶き卵をフライパンに流し入れ、均等に広げ、片面のみ焼きます。<br>少しやわらかめに仕上がったたら、フライ返しなどを使ってお皿に移します。</li>
                            <img src="./豆苗マヨネーズppic/egg.webp" alt="">
                        <li>出来上がりの卵焼きの上に工程❷をのせて出来上がりです。</li>
                            <img src="./豆苗マヨネーズppic/dekitra.webp" alt="">
                        </ol>
                </ul>
                    </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>       
    </header>
</body>
</html>