<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/musashi/Desktop/las/mmm/static/recipt.css">
    <title>RANDOM COOK</title>
    <link rel="icon" type="image/x-icon" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
    <link rel="apple-touch-icon" sizes="300x300" href="/Users/musashi/Desktop/las/mmm/picture/page.jpeg">
</head>
<body>
    <section id="sec1">
        <h1>RANDOM COOK</h1>
    </section>
    <header>
        <div class="next_recipe">
            <a href="javascript:void(0);">
                <script language="javascript">
    
                    function j(){
                    var u=new Array("omurice.html","rizot.html","sabakantomato.html","tuna_limon_rizot.html","saba_tomato_nikomi.html","pork_curry.html","sabamiso_udon.html","mugen_cabetsu.html","ninjin_salad.html","moyashi_namuru.html","tuna_ohitashi.html","meat_ball.html","renji_pasta.html","karubo_meshi.html","toumyou_buta.html","nikudoufu.html","tonpei.html","butakyabetu.html","butabara_moyashi.html","okonomiyaki.html",);
                    location.href=(u[Math.floor(Math.random()*u.length)]);
                    }
                    
                </script>
                <div class="btn-area">
                    <a href="JavaScript:j();" class="button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </a>
        </div>
            <div class="recipe">
                <div class="recipe_top">
                    <h1>小松菜のツナおひたし</h1> 
                 <!-- 調理時間、冷蔵保存可能日数、材料〇人分 -->
                    <p>調理時間：5分</p>
                    <p>冷蔵保存：3日</p>
                    <p>材料1人分</p>
                    <img src="/Users/musashi/Desktop/las/mmm/picture/小松菜pic/kansei.jpg" alt="">
                </div class="recipe_top">
                <!-- 材料 -->
                <ul class="chg">
                    <p>小松菜 1束の半分</p>
                    <p>ツナ缶１缶半分</p>
                    <p>マヨネーズ 大さじ1半</p>
                    <p>ポン酢 大さじ1半</p>
                </ul>   
                <div class="cooking_process">
                <ul>
                    <h2>作り方</h2>
                    <ol>
                        <li>小松菜は根元部分を洗い、写真のように軸と葉が半々になるように並べラップを巻く。</li>   
                            <img src="/Users/musashi/Desktop/las/mmm/picture/小松菜pic/kiru1.jpg" alt="">
                            <img src="/Users/musashi/Desktop/las/mmm/picture/小松菜pic/rap.jpg" alt="">
                        <li>そのままレンジに入れ600wの電子レンジで3分～3分30秒加熱する。（最初3分で試してみて軸が固いようなら30秒追加で加熱してみてください。元々の軸の太さによって加熱時間が変わります。）</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/小松菜pic/renji.jpg" alt="">
                        <li>保存容器にツナ缶を汁ごと入れ、調味料と混ぜる。<br>小松菜をレンジから取り出しラップに包んだまま30秒ほど水につけてアクを取る。水の中でラップを取る。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/小松菜pic/cold.jpg" alt="">
                        <li>根元を切り落とし、4～5センチ幅に切り、手で絞り水を切り、小松菜を3の容器に入れ、できあがり。</li>
                            <img src="/Users/musashi/Desktop/las/mmm/picture/小松菜pic/kiru2.jpg" alt="">
                    </ol>
                </ul>    
                        </div>

                    <div class="container">
                        <a href="https://twitter.com/intent/tweet?hashtags=RANDOMCOOK" class="button_twi">Twitter</a>
                    </div>      
    </header>
</body>
</html>